@font-face {
  font-family: MyFont;
  src: url(./neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: MyFont;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  position: relative;
  z-index: 10;
}

#page1 {
  min-height: 100vh;
  position: relative;
  padding: 0 2vw;
  background-color: #efeae3;
}

nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 0;
  position: relative;
  z-index: 100;
}

nav h3 {
  display: none;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.715);
  border-radius: 50px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.852);
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
  /* font-size: 18px; */
}

#nav-part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

#nav-part2 h4 a {
  color: #000000bb;
  text-decoration: none;
  z-index: 9;
  position: relative;
}

#nav-part2 h4:hover a {
  color: white;
}

#center {
  height: 65vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #00003c;
  padding-bottom: 2.5vw;
}

#left h3 {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
}

#center h1 {
  font-size: 9vw;
  line-height: 7vw;
  text-align: right;
}

#page1 video {
  border-radius: 30px;
  width: 100%;
  margin-top: 4vw;
  position: relative;
}

#hero-shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 70vh;
}

#hero1 {
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: #fe320c;
  filter: blur(10px);
  position: absolute;
}

#hero2 {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  background: linear-gradient(#fe320c, #f65b07);
  filter: blur(25px);
  position: absolute;
  animation-name: Anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#hero3 {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  background: linear-gradient(#fe320c, #f65b07);
  filter: blur(25px);
  position: absolute;
  animation-name: Anime;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes Anime {
  from {
    transform: translate(45%, -8%);
  }

  to {
    transform: translate(0%, 10%);
  }
}

@keyframes Anime2 {
  from {
    transform: translate(5%, -10%);
  }

  to {
    transform: translate(-20%, 30%);
  }
}

#page2 {
  min-height: 125vh;
  width: 100%;
  padding: 8vw 0;
  position: relative;
  background-color: #efeae3;
}

#moving-text {
  white-space: nowrap;
  overflow-x: auto;
}

#moving-text::-webkit-scrollbar {
  display: none;
}

.CON {
  display: inline-block;
  white-space: nowrap;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#moving-text h1 {
  font-size: 9vw;
  display: inline-block;
}

#circle {
  height: 70px;
  width: 70px;
  background-color: #fe320c;
  border-radius: 50%;
  display: inline-block;
  margin: 1vw 2vw;
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

#page-2-bottom {
  height: 80vh;
  width: 100%;
  padding: 4.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 15;
}

#page-2-bottom h1 {
  font-size: 4vw;
  width: 60%;
  line-height: 4vw;
}

.bottom-part2 {
  width: 20%;
}

.bottom-part2 img {
  width: 100%;
  border-radius: 15px;
}

.bottom-part2 p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  margin-top: 2vw;
  font-size: 1vw;
  background-color: #efeae3;
}

#page2 .gooey {
  height: 32vw;
  width: 32vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top, #fe320a, #ed6c10);
  top: 48%;
  left: 25%;
  filter: blur(18px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 13;
}

@keyframes gooey {
  from {
    transform: translate(10%, -10%) skew(0deg);
  }

  to {
    transform: translate(-10%, 10%) skew(-10deg);
  }
}

#page3 {
  height: fit-content;
  width: 100%;
  background-color: white;
}

#page3 .elem {
  min-height: 150px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgb(207, 201, 201);
  display: flex;
  align-items: center;
  padding: 0 2vw;
  overflow: hidden;
  background-color: #efeae3;
}

.elem h2 {
  font-size: 2.6vw;
  position: relative;
  z-index: 9;
}

.elem .overlay {
  height: 100%;
  width: 100%;
  background-color: orange;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.2s;
}

.elem:hover .overlay {
  top: 0;
}

#fixed-image {
  height: 30vw;
  width: 24vw;
  border-radius: 10px;
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 25%;
  display: none;
  overflow: hidden;
  border-radius: 2rem;
  pointer-events: none;
}

#fixed-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#page4 {
  height: 70vh;
  width: 100%;
  background-color: #efeae3;
  padding: 10vw 2vw;
}

.swiper-wrapper {
  left: -28%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  border-left: 1px solid #867e7e;
  width: 30%;
  padding: 0 2vw;
}

#page5 {
  height: 100vh;
  width: 100%;
}

#footer {
  position: fixed;
  height: 105vh;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 9;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1vw 3vw;
}
.email{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#footer .text{
  z-index: 99;
  display: flex;
  justify-content: center;
  gap:55vw;
  align-items: center;
 margin-top: 3vw;
 margin-left: 2vw;
}

#footer #email p{
 font-size: 1.7vw;
 font-weight: 300;
 width: 90%;
 
}
.text h2{
  font-size: 2.5vw;
}
.text h6{
  margin-top: 0.6vw;
  font-size: 1vw;
  font-weight: 100;
}
#footer h1 {
  font-size: 23vw;
}

#footer-bottom {
  border-top: 1px solid #dadada;
  height: 10vh;
  width: 100%;
}

#full-scr {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.605);
  position: fixed;
  top: -100%;
  z-index: 99;
  transition: all ease 1.3s;
}

#full-div1 {
  padding-top: 8rem;
  text-align: right;
  padding-right: 1rem;
  height: 50%;
  width: 100%;
  background-color: #EFEAE3;
  transition: all ease 0.6s;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.swiper-slide {
  padding: 1vw 6vw;
  padding-left: 4vw;
}

.swiper-slide p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  color: gray;

}

#loader {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all linear 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader h1 {
  font-size: 6vw;
  background: linear-gradient(to right, orange, orangered);
  color: transparent;
  background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
}

#loader h1:nth-child(2) {
  animation-delay: 2s;
}

#loader h1:nth-child(3) {
  animation-delay: 3s;
}

@keyframes load {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#footer-div {
  display: flex;
  height: 25vh;
}

#footer h1 {
  z-index: 999;
}

#footer-div {
  height: 20vh;
  width: 100%;
}

#footer #shape1 {
  position: absolute;
  background-color: rgb(254, 51, 10);
  filter: blur(50px);
  top: -50%;
  left: -20%;
  width: 90%;
  height: 90%;
  animation-name: shape1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate
}
#footer #shape2{
  position: absolute;
    background-color: rgb(254, 51, 10);
    filter: blur(50px);
    right: -27%;
    top: -27%;
    width: 70%;
    height: 90%;
    animation-name: shape2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shape2 {
  0%{
    transform: rotate(30deg);
  }
    100%{
    transform: rotate(45deg);
  }
}


@media (max-width: 600px) {
  #page1 {
    min-height: 100vh;
    width: 100vw;
    padding: 0 0vw;
  }

  nav {
    padding: 8vw 5VW;
    background-color: #EFEAE3;
  }

  nav img {
    height: 9vh;
    transition: all ease 0.3s;
  }

  #nav-part2 {
    display: none;
  }

  nav h3 {
    display: block;
    padding: 3vw 5vw;
    border: solid #e2d0d0;
    border-radius: 50px;
    font-size: 4vw;
    font-weight: 200;
    padding-left: 10vw;
  }

  #center {
    height: 62vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #00003c;
    padding-bottom: 10vw;
    flex-direction: column-reverse;
    padding: 7vw 5vw;
    position: relative;
    z-index: 9;
  }

  #left h3 {
    width: 90%;
    font-size: 5.5vw;
    line-height: 6vw;
  }

  #center h1 {
    font-size: 17vw;
    line-height: 15vw;
    text-align: right;
  }

  #page1 video {
    border-radius: 15px;
    width: 92%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    margin-left: 4%;
    margin-top: 4vw;
    position: relative;
  }

  #page2 {
    min-height: 125vh;
    width: 100%;
    padding: 8vw 0;
  }

  #moving-text h1 {
    font-size: 15vw;
  }

  #circle {
    height: 25px;
    width: 25px;
    background-color: #fe320c;
    margin: 2vw 2vw;
  }

  #page-2-bottom {
    flex-direction: column;
    padding: 10vw 4vw;
    height: 90vh;
  }

  #page-2-bottom h1 {
    font-size: 8.2vw;
    width: 100%;
    line-height: 9vw;

  }

  .bottom-part2 {
    width: 70%;
  }

  .bottom-part2 img {
    width: 100%;
    border-radius: 10px;
  }

  .bottom-part2 p {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-weight: 400;
    margin-top: 2vw;
    font-size: 3vw;
    background-color: #efeae3;
  }

  #page2 .gooey {
    height: 62vw;
    width: 62vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top, #fe320a, #ed6c10);
    top: 43%;
    left: 30%;
    filter: blur(18px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 13;
  }

  #loader h1 {
    font-size: 10vw;
  }
}
/* continue from 3:32 */